*{
    margin: 0px;
    padding: 0px;
}

.header{
    background: #163A24;
    height: 98px;
}

a{
    text-decoration: none;
}

body{
    font-family:"Noto Sans", sans-serif;
}

.container{
    max-width: 1220px;
    padding-left: 20px;
    padding-right: 20px;
    margin: 0 auto;
}

.header__wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0px;
}

.header__link{
    color:white
}

.header__buttons{
    display: flex;
    align-items: center;
    gap: 24px;
}

.btn{
    background-color: green;
    padding: 15px 25px;
    border-radius: 160px;
    color: white;
}

.first_section{
    background-color: #163A24;
    height: calc(100vh - 98px);
    background-image: url("../img/men.svg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position-x: right;
}

.first_section__text-block{
    color: white;
    max-width: 475px;
    padding-top: 120px;
}

.section__title{
    font-size: 48px;
    font-weight: bold;
}

.section__sun-title{
    font-size: 18px;
}